#skills {

}

.h1 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

#react{
    animation: spin infinite 20s linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.icon-container{
    display: flex;
    flex-wrap: wrap;
    width:55%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.skill-img{
    width: 110px;
    transition: 0.5s;
    margin: 1rem;
    margin-bottom: 0.25rem;
}

.head-img{
    height:2.4rem;
}

/* .himg{
    margin-top: 20px;

} */

.icons{
    display:flex;
    justify-content: space-around;
}

 .skill-text{
    text-align: center;
    margin-top: 0;
    font-size: 1.3rem;
    transition: all  1000ms ease;
    cursor: pointer;
}

.skill-text:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.skill-box{
    background-color: white;
    border: 1.5px solid rgb(151, 151, 151);
    border-radius: 18px;
    margin: 0.4rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.skill-img:hover{
    transform: scale(1.1);
    
}

.cert-img{
    width: 200px;
    height: 200px;
    align-self: center;
}

@media (max-width : 925px) {
    .cert-img {
        display: none;
    }

    .icon-container {
        width: 70%;
     }   
    
}


@media (max-width: 750px) {
    .icon-container {
        width: 100% !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        overflow: visible !important;
    }

    .icons {
        max-height: none !important;
        margin-top: 2rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-box {
        margin: 1rem auto;
    }


}