#Contact{
    height: 100vh;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    text-align: center;
}

.nav-links-container ul {
    display: flex !important;
    text-align: center;
    justify-content: center;
}

.nav-links-container ul li {
    margin-right: 1rem !important;
    text-align: center;
    list-style: none;

}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    max-width: 85%;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

footer {
    height: 26vh;
    margin: 0 1rem;
    text-align: center;
}

.contact-icon{
    width: 40px;
}

footer p {
    text-align: center;
}

p a {
    color: black;
}

li a {
    color: black;
}

@media (max-width: 450px) {
    .contact-info-upper-container{
        flex-direction: column;
    }
}
