#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    /*min-height: 70vh;*/
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
}
contact-title{
    font-size: 3rem;
}
.contact-icon-container {
    padding: 16px;
}
.contact-icon {
    margin-right:0.5rem;
}

footer {
    height: auto;
    text-align: center;
    width: 100%;
}

#menu-toggler {
    align-self: center;
}

.nav-links-container ul {
    display: flex !important;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.nav-links-container ul li {
    margin-right: 1rem !important;
    text-align: center;
    list-style: none;

}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    background-color:rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    max-width: 85%;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon{
    height: 20px;
}

footer p {
    text-align: center;
}

p a {
    color: black;
}

li a {
    color: black;
}

@media (max-width: 450px) {
    .contact-info-upper-container {
        flex-direction: column;
        width: 90%;
        gap: 1rem; /* Space between Email and LinkedIn */
    }

    .contact-info-container {
        margin: 0.5rem;
    }

    .contact-info-container p {
        font-size: 1rem;
    }

    #contact {
        padding-bottom: 300px; /* Give extra space for the footer */
    }

    footer {
        margin-bottom: 20px;
    }
}

