.fade-in {
    opacity: 0;
    margin-top: 30px; /* Use margin instead of transform */
    transition: opacity 0.7s ease-out, margin-top 0.7s ease-out;
}

.fade-in.visible {
    opacity: 1;
    margin-top: 0;
}