:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  background-color: rgb(241, 240, 240);
  margin: 0;
  color: black;
  min-height: 100vh;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: inherit;

}

/** Media Queries */

