:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body{
  background-color: rgb(241, 240, 240);
  margin: 0;
  color: black;
  scroll-behavior: smooth;
  min-height: 100vh;
}

a{
  text-decoration: inherit;

}
