:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 240, 240);
  margin: 0;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: inherit;

}


