body{
    background-color: white;
    margin: 0;
    color: black;
}
header{
    padding: 0 0 1.5rem ;
    font-size: 1.79rem;
    width: 100vw
    
}

.Header-text{
    font-size: 2rem;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;
}

nav li {
    display: inline-block;
    margin-left:2rem ;
    color : black;
}

.container{
    width :90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Container{
    display: flex;
    width:80%;
    max-width: 1200px;
    margin: auto;
}

.hero-img {
    width : 300px;
}