body{
    margin: 0;
    color: black;
}
header{
    padding: 0 0 1.5rem ;
    font-size: 1.79rem;
    width: 100vw;
    margin-bottom:2rem;
    
}

.Header-text{
    font-size: 2rem;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;
}

nav li {
    display: inline-block;
    margin-left:2rem ;
}

.navlinks li a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }

.navlinks li a {
    color : black ;
}

.container{
    width :90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Container{
    display: flex;
    width:80%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem 4rem 4rem;
    gap:10%;
    align-self: center;
}

.hero-img {
    width : 400px;
    border-radius: 50%;
    border: 0.5rem solid grey;
}

#home {
    display: flex;
    min-height: 78vh;
}

.Hero-text{
    /* border: 0.5rem solid grey; */
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .pp {
    font-size: 1.1 rem;
    font-weight: 600;
    margin-bottom: 0;
    color : grey;
}

h1{
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}