body{
    margin: 0;
    color: black;
}
header{
    padding: 0 0 1.5rem ;
    font-size: 1.79rem;
    width: 100vw;
    margin-bottom:2rem;
    
}

.Header-text{
    font-size: 2rem;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}


nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}


nav li {
    display: inline-block;
    margin-left:2rem ;
}

.navlinks li a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }

.navlinks li a {
    color : black ;
}

.container{
    width :90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Container{
    display: flex;
    width:80%;
    max-width: 1200px;
    margin: auto;
    padding: 3rem 3rem 3rem 3rem;
    gap:10%;
    align-self: center;
}

.hero-img {
    width : 400px;
    border-radius: 50%;
    border: 0.5rem solid grey;
    transition: 400ms;
}

.hero-img:hover{
    transform: scale(1.1);
}

#home {
    display: flex;
    min-height: 78vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Hero-text{
    /* border: 0.5rem solid grey; */
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

 .pp {
    font-size: 1.1 rem;
    font-weight: 600;
    margin-bottom: 0;
    color : grey;
}

h1{
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

.profile-img{
    margin-top: 1rem;
}

.github{
    width:30px;
    margin-top: 10px;
    margin-right: 1rem;
}



@media (max-width: 750px) {
  nav .menu {
      display: flex;
  }

  .container {
      flex-direction: column;
      align-items: flex-start;
  }

   .Container{
    flex-direction: column;
    align-items: center;
   }

   .hero-img{
    width: 80%;
   }

   .Hero-text{
    width: 80%;
   }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
}


